sudo: required
services:
    - docker

before_install:
    - docker build -t seejiahao/react-test -f ./client/Dockerfile.dev ./client

script:
    - docker run -e CI=true seejiahao/react-test npm test

after_success:
    - docker build -t seejiahao/multi-client ./client
    - docker build -t seejiahao/multi-nginx ./nginx
    - docker build -t seejiahao/multi-server ./server
    - docker build -t seejiahao/multi-worker ./worker 
    # Log in to the docker CLI
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
    # Take those images and push them to docker hub
    - docker push seejiahao/multi-client
    - docker push seejiahao/multi-nginx
    - docker push seejiahao/multi-server
    - docker push seejiahao/multi-worker

deploy:
    provider: elasticbeanstalk
    region: us-east-2
    app: multi-docker
    env: MultiDocker-env
    bucket_name: elasticbeanstalk-us-east-2-856375385484
    bucket_path: docker-multi
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    on:
      branch: master


